* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

button {
  color: black;
}

.logo {
  width: 90px;
}

body {
  padding-top: 90px;
  overflow: hidden;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px 0 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 12px 2px;
}

.nav a {
  color: #415376;
  text-decoration: none;
  font-weight: 700;
  padding: 0 15px;
  font-size: 19px;
}

.nav a:hover {
  color: #17294E;
}

.nav img {
  width: 19px;
  position: relative;
  bottom: -5px;
  cursor: pointer;
  filter: invert(30%) sepia(14%) saturate(1501%) hue-rotate(181deg) brightness(94%) contrast(87%);
}

.nav img:hover {
  filter: invert(13%) sepia(12%) saturate(6087%) hue-rotate(195deg) brightness(91%) contrast(93%);
}

.megaTop {
  height: 624px;
  width: 100%;
  background: url("../img/darkBg.png") no-repeat;
  background-size: cover;
  background-position: 0 -220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.megaTop button {
  color: white;
  background: #1D428A;
  width: 156px;
  height: 56px;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 73px;
  text-shadow: 0.03em 0.03em 3px rgb(0, 0, 0);
}

.container {
  width: 1290px;
  margin: 0 auto;
}

.about {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  background: #F9F9F9;
}

.aboutTitle {
  font-size: 49px;
  font-weight: bold;
  position: relative;
}

.underline {
  position: absolute;
  height: 6px;
  background: #1d428a;
  width: 100px;
  bottom: -27px;
  left: 0;
}

.imageMerce, .textInfo {
  width: 47%;
}

.imageMerce img {
  width: 100%;
  position: relative;
  top: -70px;
}

.imageMerce {
  height: 440px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.description {
  margin-top: 60px;
}

.services {
  margin-top: 50px;
}

.services_title {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  position: relative;
}
.services_title:after {
  content: "";
  background: #1d428a;
  width: 50px;
  height: 3px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.elems_s {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.service_elem {
  width: 32%;
}
.service_elem div {
  text-align: center;
  overflow: hidden;
  font-size: 16.5px;
  word-wrap: break-word;
}
.service_elem h2 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.service_elem img {
  width: 132px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.section-1, .section-2 {
  background: #F9F9F9;
}

.section-1 {
  padding: 100px 0;
}

.learnMore {
  color: white;
  background: #1D428A;
  width: 156px;
  height: 45px;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 30px auto 0;
  display: block;
}

.text_form {
  display: flex;
  margin-top: 70px;
}

.infoMegaLuxury {
  width: 43%;
  text-align: center;
  font-size: 16px;
  word-break: break-word;
}
.infoMegaLuxury a {
  text-decoration: none;
  color: #1d428a;
}

.contact {
  padding-bottom: 50px;
}

.contact h2 {
  margin-top: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  position: relative;
  padding-top: 50px;
}
.contact h2:after {
  content: "";
  background: #1d428a;
  width: 50px;
  height: 3px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.marginTopSub {
  margin-top: 50px;
  text-align: center;
}

.forms {
  width: 50%;
  margin-left: auto;
}

.oneLineForm {
  display: flex;
  justify-content: space-between;
}

.oneLineForm input {
  width: 47%;
  border: solid 1px #d4d7e5;
  padding: 0.75rem 1.1rem;
  font-size: 1rem;
  border-radius: 3px;
}

.forms form > input {
  border: solid 1px #d4d7e5;
  padding: 0.75rem 1.1rem;
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}

.forms form > textarea {
  border: solid 1px #d4d7e5;
  padding: 0.75rem 1.1rem;
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
  resize: none;
  height: 100px;
}

.forms button {
  color: white;
  background: #1D428A;
  height: 45px;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 0 0 0;
  display: block;
  width: 100%;
}

.map-container {
  width: 100%;
  height: 550px;
  position: relative;
  z-index: 50;
}

.icon {
  width: 16px;
  filter: invert(30%) sepia(14%) saturate(1501%) hue-rotate(181deg) brightness(94%) contrast(87%);
  position: relative;
  top: 5px;
  margin-right: 5px;
}

footer {
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer span {
  font-size: 13px;
}
footer h4 {
  font-size: 19px;
  font-weight: 400;
}
footer a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 10px;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.scrollToTop img {
  width: 70%;
  filter: invert(100%);
  position: relative;
  top: -3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidden {
  opacity: 0;
  transition: all 1.5s;
}

.show {
  opacity: 1;
}

.numberSecret {
  background: #181818;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1000;
  opacity: 0;
}
.numberSecret a {
  font-size: 50px;
  color: white;
  text-decoration: none;
}
.numberSecret a:hover {
  color: #1D428A;
}

.cross {
  filter: invert(100%);
  width: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.bookARideModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.73);
  backdrop-filter: blur(5px);
}

.mainModal {
  color: white;
  position: relative;
  background: #273B6F;
  width: 380px;
  height: 100%;
  margin: 0 auto;
  font-size: 18px;
}

.mainModal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inputElem input, .inputElem select {
  padding-left: 10px;
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 35px;
  font-size: 18px;
  border-radius: 0 0 4px 4px;
  border: none;
}

.inputElem p {
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background: #28292B;
  padding-left: 10px;
  border-radius: 4px 4px 0px 0px;
}

.mainModal button {
  height: 50px;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  background: #28292B;
  color: white;
  border: none;
}

.titleRide {
  text-align: center;
  font-weight: bold;
  font-family: poppins-semibold, poppins, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
}

.mainModal > img {
  width: 45px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  filter: invert(100%);
}

/*# sourceMappingURL=style.css.map */
